{% macro renderBlocks(blocks, elementsByBlock) %}
    {% for id, content in blocks %}
        {% if id != 'position' %}
            
        
            <div id="fly_ux_{{ id }}" class="fix-wrapper  {% if id == 'container' %}not-drag-content{% else %}drag-content{% endif %}" >
            <h3>{{ id }}</h3>
                {% if id == 'container' %}
                    {% block scoper %}
              
                    {% endblock %}
                {% endif %}
                {# 1. Content-Elemente einfügen, falls vorhanden #}
                {% if elementsByBlock[id] is defined %}
                    {% for element in elementsByBlock[id] %}
                    <div  class="drag-item {{ element.css_class }}" data-element-id='{{ element.id }}'>
                        <h4><a href="{{ element.href_act_edit }}" title="{{ element.type }} bearbeiten">{{ element.type }} bearbeiten</a></h4>
                        {{ element.content_element|raw }}
                        </div>
                    {% endfor %}
                {% endif %}

                {# 2. Kinder rendern (rekursiv) #}
                {% set children = content %}
                {% if children|length > 0 %}
                
                    {{ _self.renderBlocks(children, elementsByBlock) }}
                    
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}
{% import _self as layout %}
<div id="fly_ux_content" class="drag-drop-wrapper" >
{{ layout.renderBlocks(htmlBlocks, elementsByBlock) }}
</div>