{% macro render_tree(items, level,token) %}
    <ul class="level_{{ level }}">
        {% for item in items %}
            <li>
               <a href="contao?do=content&pid={{ item.id }}&rt={{ token }}" title="Inhalt bearbeiten"> {{ item.title }}</a>
                {% if item.children is defined %}
                    {{ _self.render_tree(item.children, level + 1, token) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{# Initialer Aufruf, beginnt bei Ebene 1 #}
{{ _self.render_tree(tree, 1,token) }}
